.App {
  text-align: center;
  background-color: rgba(102, 51, 153, 1);
  color: white;
  height: 100vh;
}

.App-header {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 26px;
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .App-header {
     font-size: 30px;
     padding-top: 50px;
  }
}

@media (min-width:800px) {
  .App-header {
    font-size: 34px;
  }
}

@media (min-width:1000px) {
  .App-header {
    font-size: 36px;
  }
}